
#imagge{
    width: 1348px;
    height: 640px;
}
.container{
       
}
h1{
    margin-top: -430px;
    color: aqua;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    text-shadow: 7px 2px 3px #000;

}
#text{
   
}
button{
    margin-left: 600px;
    margin-top: 60px;
    border-radius: 10px;
    color: white;
    background-color: orangered;
    height: 45px;
    font-size: 20px;
    box-shadow: 2px 2px 2px #000;

}
button:hover{
    background-color: red;
    height: 50px;
    width: 150px;

}
hr{
    border-color: rgb(253, 30, 0);
    border-width: 2px;
    max-width: 65px;
}
.col{
    background-color:azure;
    border: 3px;
}
#imago{ 
    height: 100%;
    width: 100%;
    
  }